---
permalink: /feed.json
eleventyExcludeFromCollections: true
---{
  "version": "https://jsonfeed.org/version/1.1",
  "title": "{{ site.title }}",
  "home_page_url": "{{ site.url }}/",
  "feed_url": "{{ site.url }}/feed.json",
  "description": "{{ site.description }}",
  "author": { "name": "{{ site.author.name }}", "url": "{{ site.author.url }}" },
  "items": [
    {% for post in collections.posts %}
    {
      "id": "{{ site.url }}{{ post.url }}",
      "url": "{{ site.url }}{{ post.url }}",
      "title": "{{ post.data.title }}",
      "content_html": {{ post.templateContent | dump | safe }},
      "date_published": "{{ post.date | isoDate }}"
    }{% if not loop.last %},{% endif %}
    {% endfor %}
  ]
}
